*{
    margin: 0;
    padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 50%;
  background-color: rgb(67, 70, 70);
  margin-top: 20px;
    
} 